<div class="main">
    <div class="head">
        <img src="header.png" />
    </div>
    <lib-character-card class="card" [character]="character" [loading]="loading" *ngIf="character && !loading"></lib-character-card>
    <button class="button-back" [routerLink]="['/characters']" *ngIf="!loading">Back</button>
    <div *ngIf="loading" class="loader-mask">
        <div class="loader">
            <div class="circle red"></div>
            <div class="circle green"></div>
            <div class="circle blue"></div>
        </div>
    </div>
</div>