<div class="container">
    <div class="main">
        <div class="background-img">
            <div class="space"></div>
            <div class="wrapper">
                <div class="img-wrapper">
                    <span>44</span>
                </div>
                <p>The page you are trying to search has been <br> moved
                    toanother universe.</p>
                <button type="button" [routerLink]="['/characters']">GET ME HOME</button>
            </div>
        </div>
    </div>
</div>
