<div class="main">
  <div class="head">
    <img src="/header.png" />
  </div>
  <div class="search">
    <div class="search-box">
      <input [(ngModel)]="searchTerm" (input)="filterCharacters()" placeholder="Search by name">
      <button class="button-search" (click)="filterCharacters()"><i class="fas fa-search"></i></button>
    </div>
    <span *ngIf="favoriteCount > 0" class="favorite-count">{{ favoriteCount }}</span>
  </div>

  <div *ngIf="loading" class="loader-mask">
    <div class="loader">
      <div class="circle red"></div>
      <div class="circle green"></div>
      <div class="circle blue"></div>
    </div>
  </div>
  <div *ngIf="!loading">
    <div class="cards">
      <div *ngFor="let character of filteredCharacters" class="card" [routerLink]="['/characters', character.id]">
        <div class="card-content">
          <img [src]="character.image" [alt]="character.name">
          <div class="card-info">
            <h3>{{ character.name }}</h3>
            <p>{{ character.species }}</p>
            <button (click)="toggleFavorite($event, character)" class="favorite-btn">
              <i [class.fa-solid]="isFavorite(character)" [class.fa-regular]="!isFavorite(character)"
                class="fa-heart"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons-box">
    <button class="button back" *ngIf="page !== 1" (click)="prevPage()" [disabled]="page === 1">Back</button>
    <button class="button next" *ngIf="page !== totalPages" (click)="nextPage()"
      [disabled]="page === totalPages">Next</button>
  </div>

</div>